/**
 * 7.3.5 - Gallery Section
 */



.no-headline {
    padding-top: 0;
}

.no-headline.no-view-more-button {
    padding: 0;
}

.no-headline.no-view-more-button .hentry {
    margin: 0;
}

.tiled-gallery-caption,
.gallery-caption {
    z-index: 99;
}

 .gallery-item .gallery-icon a:before,
 .tiled-gallery .tiled-gallery-item a:before {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

 .gallery-item .gallery-icon a:after,
 .tiled-gallery .tiled-gallery-item a:after {
    -webkit-border-radius: 50px;
    border-radius: 50px;
    cursor: pointer;
    display: block;
    font-size: 18px;
    font-size: 1.125rem;
    height: 42px;
    padding: 12px;
    width: 42px;
    text-align: center;
    z-index: 2;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

 .gallery-item .gallery-icon a:before,
 .gallery-item .gallery-icon a:after,
 .tiled-gallery .tiled-gallery-item a:before,
 .tiled-gallery .tiled-gallery-item a:after {
    opacity: 0;
}

 .gallery-item .gallery-icon:hover a:before,
 .gallery-item .gallery-icon:focus a:before,
 .tiled-gallery .tiled-gallery-item:hover a:before,
 .tiled-gallery .tiled-gallery-item:focus a:before {
    opacity: 0.75;
}

 .gallery-item .gallery-icon:hover a:after,
 .gallery-item .gallery-icon:focus a:after,
 .tiled-gallery .tiled-gallery-item:hover a:after,
 .tiled-gallery .tiled-gallery-item:focus a:after {
    opacity: 1;
}

 .gallery-item {
    float: left;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
    padding: 0;
    position: relative;

    a {
        display: block;
        position: relative;
    }
}

.gallery-caption {
    background: #fff;
    padding: 15px;
    width: 100%;
    z-index: 99;
}

 .section-content-wrapper .entry-content {
    margin: 0;
}
.tiled-gallery.type-square, .gallery, .tiled-gallery.type-circle{
    @include flex;
    @include flex-wrap;
}
.gallery  .gallery-item, .gallery  .tiled-gallery-item {
    padding: 20px 10px 0 10px;
}
.gallery {
    margin: 0 -10px;
    }