/**
 * 3.4 - Padding/Margin
 */

.menu-toggle {
	padding: 10px;
}

.menu-top-toggle.menu-toggle {
	line-height: 35px;
	padding: 0px;
}

.main-navigation a {
	padding: 14px 0;
}

.cat-links a {
	margin-right: 7px;
	margin-bottom: 7px;
}

.full-width-layout:not(.home) #content.site-content #primary {
	padding-left: 0;
	padding-right: 0;
}

.page.no-sidebar .content-area,
.single.no-sidebar .content-area,
.no-sidebar:not(.home) #content.site-content>.wrapper .content-area {
	padding: 0 30px;
}

.section-subtitle,
.brands-wrapper .entry-container.product-container .cat-links a {
	margin-bottom: 7px;
}


.section-content-wrapper .product-container .entry-content {
	margin-top: 7px;
}

#stats-section .entry-summary,
#stats-section .entry-content, 
.promotion-section .section-content-wrapper .post-thumbnail {
	margin-top: 14px;
}

.custom-header-media .entry-meta {
	margin: 0;
	padding: 14px 30px 0;

}

.singular-content-wrap .entry-content,
.singular-content-wrap .entry-summary {
	margin-top: 0;
}

.entry-summary p {
	margin: 0;
}

.section-heading-wrapper {
	margin: 0 auto;
	padding: 0 30px 35px;
}

.testimonial-content-section,
.why-choose-us-section,
.stats-section {
	.section-heading-wrapper {
		padding-bottom: 35px;
	}
}

.section + .site-content > .wrapper{
	padding-top: 0;
	margin-bottom: 35px;
}

.section.stats-section,
.section.testimonial-content-section,
.why-choose-us-section {
	padding-top: 56px;
	padding-bottom: 21px;
}

// .testimonial-content-section + .section:not(.stats-section):not(.promotion-section):not(.why-choose-us-section),
// .promotion-section + .section:not(.stats-section):not(.testimonial-content-section):not(.why-choose-us-section),
// .why-choose-us-section + .section:not(.stats-section):not(.testimonial-content-section),
// .site-content + .section:not(.stats-section):not(.promotion-section):not(.why-choose-us-section),
// .section.stats-section.no-section-heading,
// .section.why-choose-us-section.no-section-heading,
// .section.testimonial-content-section.no-section-heading,
// #logo-slider-section.no-section-heading,
// .promotion-section,
// .contact-section,
// .skill-section.has-background-image,
// .header-media + .section:not(.stats-section):not(.promotion-section):not(.why-choose-us-section),
// .feature-slider-section + .section:not(.stats-section):not(.promotion-section):not(.why-choose-us-section),
// #footer-newsletter + .section:not(.stats-section):not(.promotion-section):not(.why-choose-us-section),
// .logo-slider-section + .section:not(.stats-section):not(.promotion-section):not(.why-choose-us-section)  {
//     padding-top: 42px;
// }

.skill-section.has-background-image {
	padding-top: 0;
}

.custom-header-content {
	padding: 100px 30px 100px;
}

.custom-header-content-wrapper .entry-breadcrumbs {
	padding-left: 0;
	padding-right: 0;
}

.pagination .page-numbers.prev,
.pagination .page-numbers.next {
	padding: 8px 21px;
}


.site-content .wrapper>.sidebar {
	margin-top: 42px;
}

.author-info {
	padding: 55px;
}

.footer-widget-area {
	padding: 28px 0;
}

.team-content-wrapper .entry-container,
.featured-content-section .entry-container {
	padding: 30px;
}

.widget-column {
	padding: 21px 30px;
}

.above-footer {
	padding-top: 7px;
}

.single .site-main .entry-header,
.page .site-main .entry-header,
.archive .page-header,
.error404 .page-header,
.search .page-header,
.woocommerce-products-header {
	margin-bottom: 35px;
	text-align: center;
}

.comment-notes,
.comment-awaiting-moderation,
.logged-in-as,
.form-allowed-tags {
	margin: 0 0 35px;
}

.comments-area {
	padding-top: 35px;
}

.author-avatar,
.author-description,
.comments-title,
.comment-reply-title {
	margin: 0 0 24px;
}


.sidebar .widget .widget-wrap {
	border-bottom: 1px solid;
	margin-bottom: 35px;
	padding-bottom: 35px;
}

.sidebar .widget:last-child {
	.widget-wrap {
		border-bottom: 0;
		padding-bottom: 0;
		margin-bottom: 0;
	}
}



.widget-area:not(.sidebar) .widget .widget-title {
	padding-bottom: 21px;
}

.content-area .section-heading-wrapper {
	padding-top: 0;
}

.footer-contact {
	margin-top: 42px;
}

.widget li {
	margin-bottom: 7px;
}

.widget li>ul,
.widget li>ol {
	clear: both;
	margin-top: 7px;
	margin-left: 14px;
}

.section-content-wrapper {
	padding: 0 30px;
}

.site-content .section-content-wrapper {
	padding: 0;
}

// .home .section:not(.testimonial-content-section):not(.promotion-section):not(.why-choose-us-section) + .site-content > .wrapper {
//     padding-top: 0;
// }

.section-content-wrapper .post-thumbnail {
	margin: 0 0 14px;
}

#countdown-section .section-content-wrapper .post-thumbnail {
	margin: 0 0 14px;
}

.logo-slider-section .section-content-wrapper .entry-title {
	margin-bottom: 0;
}

.section-content-wrapper .entry-header .entry-meta {
	padding-top: 0;

}

.entry-meta {
	margin-bottom: 7px;
	margin-top: 0;
	padding: 0;
}

.archive-posts-wrapper .section-content-wrapper .entry-header .entry-title+.entry-meta {
	margin-top: 7px;
	margin-bottom: 0;
}

.archive-posts-wrapper .section-content-wrapper .entry-header .entry-meta {
	margin-top: 0px;
}

.section-content-wrapper .entry-summary,
.section-content-wrapper .entry-content {
	margin: 14px 0 0;
	width: 100%;
}

.feature-slider-wrapper .section-content-wrapper .entry-summary {
	margin: 0;
}


.woocommerce-posts-wrapper {
	max-width: 1500px;
	margin: 0 auto;
}

.singular-content-wrap .entry-header .entry-meta {
	margin: 0 0 21px 0;
}

.comments-area {
	margin-top: 28px;
	padding-top: 28px;
}

.more-link,
.entry-content button,
.entry-summary button {
	clear: both;
}

.section-description {
	margin-top: 7px;

	p {
		margin-bottom: 0
	}
}

.custom-header-content> :last-child,
.singular-content-wrap>:last-child,
.site-header-text> :last-child,
.section-description-wrapper> :last-child,
.taxonomy-description-wrapper> :last-child,
.widget-column> :last-child,
.widget-area .widget .hentry:last-child,
.widget-area .widget .hentry .entry-meta,
.widget-area> :last-child,
.widget> :last-child,
.widget li:last-child,
.widget embed:last-child,
.widget iframe:last-child,
.widget object:last-child,
.widget video:last-child,
.entry-content> :last-child,
.entry-summary> :last-child,
.page-content> :last-child,
.comment-content> :last-child,
.textwidget> :last-child,
.widget_nav_menu ul,
#colophon .widget li:last-child {
	margin-bottom: 0;
}

.section-content-wrapper p.more-button {
	margin: 35px 0 0;
}

.widget-area .ewfeaturedpostpageimage .featured-image {
	margin-top: 0;
	margin-bottom: 0;
}

.custom-logo {
	margin: 0 auto;
}

.has-header-video .custom-header-content {
	padding-bottom: 178px;
}


.widget-area .entry-meta {
	margin-top: 0;
}

.taxonomy-description-wrapper {
	margin-top: 7px;
}

#testimonial-content-section.has-post-thumbnail .entry-container {
	padding: 84px 30px 42px;
}

.post-navigation div+div,
.posts-navigation div+div {
	margin-top: 30px;
}

.post-navigation {
	padding-top: 28px;
}

.wp-caption .wp-caption-text {
	padding: 7px 14px;
}

button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.posts-navigation a,
#content #infinite-handle span button,
.header-media .more-link,
#feature-slider-section .more-link,
#hero-section .more-link,
.more-link .more-button,
.header-media .custom-header-content-wrapper .more-link,
.promotion-section .more-link {
	padding: 11px 28px;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="week"],
input[type="month"],
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea {
	padding: 12px 14px;
}

.site-footer-menu .wrapper>#social-footer-navigation {
	margin-bottom: 70px;
}

.above-footer {
	padding-bottom: 0;
}

.sidebar .ewnewsletter .widget-inner-wrap,
.sidebar .ewnewsletter .widget-inner {
	padding: 0;
}

.custom-header-form {
	padding: 35px;
}

.promotion-section .section-content-wrapper .entry-summary {
	margin: 7px 0 0;
}

.custom-header+.section,
.feature-slider-section+.section,
.contact-section.section.has-background-image,
#countdown-section+.section:not(#promotion-section):not(#testimonial-content-section):not(#service-section):not(#product-review-section),
#testimonial-content-section+.section:not(#promotion-section):not(#countdown-section):not(#service-section):not(#product-review-section),
#service-section+.section:not(#promotion-section):not(#countdown-section):not(#testimonial-content-section):not(#product-review-section),
#promotion-section+.section:not(#testimonial-content-section):not(#countdown-section):not(#service-section):not(#product-review-section),
#product-review-section+.section:not(#testimonial-content-section):not(#countdown-section):not(#service-section):not(#promotion-section),
#service-section+#footer-newsletter,
#countdown-section+#footer-newsletter,
#promotion-section+#footer-newsletter,
#product-review-section+#footer-newsletter,
#testimonial-content-section+#footer-newsletter,
.contact-section.section.has-background-image+#footer-newsletter,
.contact-section.section.has-background-image+section:not(#promotion-section):not(#countdown-section):not(#testimonial-content-section):not(.service-section):not(#product-review-section),
.skill-section.has-background-image+.section:not(#promotion-section):not(#countdown-section):not(#testimonial-content-section):not(.service-section):not(#product-review-section),
.skill-section.has-background-image {
	padding-top: 49px;
}

.section,
#footer-newsletter {
	padding-bottom: 14px;
}

.brands-wrapper .entry-summary p a,
.collection-wrapper .entry-summary p a {
	padding: 11px 35px;
	border: 1px solid;
	margin: 0;

}

.product-container span.cat-links a,
#brands-section .brands-wrapper .entry-header .product_meta a {
	padding: 5px 14px;
	display: inline-block;
}

.post-wrapper .entry-header .entry-meta span.cat-links a {
	padding: 0;
	display: inline-block;
}

.service-section .view-more .button {
	margin-bottom: 42px;
	text-decoration: none;
}
